{% extends "app/base.html" %}
{% load staticfiles %}
{% block base_content %}


<h1>Add sheet</h1>
<form role="form" method="POST" action="{% url 'app.views.addsheet' %}">
{% csrf_token %} 
  <div class="form-group">
    <label for="exampleInputEmail1">Name list</label>
    <input type="name" name="name" class="form-control" id="exampleInputEmail1" placeholder="Enter name">
  </div>
  <div class="form-group">
    <div class='input-group date' id='datetimepicker1'>
      <input type='text' name="date" class="form-control" >
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    <script type="text/javascript" src="{% static 'js/transition.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/collapse.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker1').datetimepicker();
      });
    </script>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}